body {
	font-family: 'Poppins', sans-serif;
	margin: 10px 0;
	color: #1a2a38;
}

.menu-bar {
	width: 70%;
	margin: auto;
	padding: 10px 0 10px 0;
}

.menu-bar > img {
	float: left;
}

.demo, .download {
	float: right;
	line-height: 33px;
	padding: 0 20px;
	margin-left: 10px;
	border-radius: 50px;
}

.demo {
	border: 1px solid #222;
	color: #3c4f58;
}

.download {
	background: #057ad7;
	color: #fff;
	border: 1px solid #057ad7;
}

#bigTitle {
	color: #1a2a38;
	text-align: center;
	background: #f9faff;
}

#bigTitle > h1 , #bigTitle > h2 {
	margin: 0 0 10px 0;
}

#bigTitle > h2 {
	padding: 90px 0 0 0;
	font-weight: normal;
	font-size: 2.1em;
}

#bigTitle > h1 {
	font-size: 5.5em;
	font-weight: bold;
}

#bigTitle > h3 {
	font-weight: normal;
	margin-bottom: 30px;
}

.bg-blue {
	line-height: 33px;
	font-size: 1em;
	padding: 12px 25px;
	margin-top: 20px;
	border-radius: 50px;
	background: #057ad7;
	border: 1px solid #057ad7;
	color: #fff;
}

.bg-white {
	line-height: 33px;
	font-size: 1em;
	padding: 12px 25px;
	margin-top: 20px;
	border: 1px solid #222;
	border-radius: 50px;
	color: #222;
}

.img {
	width: 100%;
	height: 300px;
	background-image: url(../img/pro-bg.png);
}

#wrapper-ebook {
	background: #e6fcff;
	width: 100%;
}

#ebook {
	width: 75%;
	margin: auto;
	padding: 50px 0;
}

.ebook-img {
	display: inline-block;
	width: 37%;
	float: left;
}

.ebook-img > img {
	width: 100%;
}

.ebook-text {
	display: inline-block;
	width: 58%;
	float: right;
	color: #1a2a38;
}

.ebook-text > h3 {
	font-size: 2.1em;
	font-weight: normal;
	margin: 0;
}

.ebook-text > h2 {
	font-size: 4em;
	margin: 0;
	font-weight: bold;
}


.ebook-text > p, .ebook-text li {
	font-size: 0.8em;
}

.ebook-text > ul {
	list-style-image: url('../img/dot.png');
	padding-left: 23px;
}

.ebook-text li {
	margin: 10px 0;
}

.ebook-text li:last-child {
	margin-bottom: 40px; 
}

.ebook-text span {
	margin-right: 10px;
}

a {
	text-decoration: none;
}

#try-free {
	color: #1a2a38;
	padding-top: 50px;
}

#try-free > h2, #try-free > h3 {
	text-align: center;
	margin: 0;
}

#try-free > h3 {
	font-weight: normal;
	font-size: 2.1em;
}

#try-free > h2 {
	font-size: 4em;
	font-weight: bold;
}

#tool {
	width: 80%;
	margin: 50px auto;
	color: #1a2a38;
	text-align: center;
}

.tool {
	width: 22%;
	display: inline-block;
	text-align: center;
	border: 1px solid #f1f1f1;
	margin: 0 5px;
}

.tool > img {
	margin-top: 20px;
}

.tool-text {
	width: 70%;
	margin: auto;
}

.tool span:last-child {
	padding: 5px 25px;
}

.tool > h3 {
	margin: 10px 0;
}

.tool p {
	font-size: 0.8em;
}

#wrapper-buy-now {
	width: 100%;
	background: #e6fcff;
	padding: 50px 0;
}

#buy-now {
	width: 75%;
	margin: auto;
}

#buy-text {
	width: 60%;
	float: left;
}

#buy-text > h2 {
	font-size: 4em;
	font-weight: bold;
}

#usd > img {
	float: left;
	margin-right: 20px;
}

.buy-text1 {
	margin: 0;
	float: left;
	clear: right;
}

.buy-text2 {
	font-weight: 600;
}

#buy-form {
	width: 38%;
	float: right;
	text-align: center;
	background: #fff;
	padding-bottom: 20px;
	border-radius: 10px;
	box-shadow: 0pc 0.322916667in 0.552083333in -15px rgba(0,0,0,.76)
}

.buy-form-title {
	margin: 0;
	color: #fff;
	font-size: 1.5em;
	font-weight: bold;
	background: #273c56;
	line-height: 50px;
	border-radius: 10px 10px 0 0;
}

input[type="text"] {
	width: 70%;
	margin: 20px auto;
	padding: 8px;
	box-sizing: border-box;
	transition: 0.3s;
}

input[type="text"]:focus {
	border-color: dodgerBlue;
	box-shadow: 0 0 8px 0 dodgerBlue;
}

.inputWithIcon input[type="text"] {
	padding-left: 40px;
}

.inputWithIcon {
	position: relative;
}

.inputWithIcon i {
	position: absolute;
	left: 0;
	top: 5px;
	left: 55px;
	padding: 9px 8px;
	color: #aaa;
	transition: 0.3s;
}

.inputWithIcon input[type="text"]:focus + i {
	color: dodgerBlue;
}

.inputWithIcon.inputIconBg i {
	background-color: #aaa;
	color: #fff;
	padding: 9px 4px;
	border-radius: 4px 0 0 4px;
}

.inputWithIcon.inputIconBg input[type="text"]:focus + i {
	color: #fff;
	background-color: dodgerBlue;
}

#buy-form .buy-form-down {
	width: 70%;
	margin: auto;
	background: #057ad7;
	color: #fff;
	font-weight: bold;
	line-height: 50px;
	border-radius: 5px; 
}

.buy-form-text {
	width: 70%;
	font-size: 0.8em;
	margin: 10px auto;
	text-align: left;
}

.buy-form-text a {
	color: #2fa6dc;
}

#wrapper-customers {
	margin: 60px 0;
	width: 100%;
}

#customers {
	width: 75%;
	margin: auto;
	text-align: center;
}

#customers h2 {
	font-size: 3em;
	font-weight: bold;
}

#customers h3 {
	font-size: 1em;
	letter-spacing: 4px;
	margin-bottom: 60px;	
}

.customers1 {
	width: 45%;
	transition: all .5s ease;
	box-shadow: 0px 5px 50px -8px rgba(19,18,18,.5);
	border-radius: 5px;
	color: #495e71;
	display: inline-block;
	margin: 10px 15px 50px 15px;
}

.customers1 img {
	margin-top: -50px;
	border: 10px solid #fff;
	box-shadow: 0 0 0 1px #1a2a38;
	background: #fff;
	border-radius: 50%;
	position: relative;
}

.customers1 p {
	width: 85%;
	margin: 15px auto;
}

.customers1 h4 {
	font-weight: bold;
	font-size: 1em;
	color: #222;
	margin: 0;
}

.customers1 h6 {
	margin: 0;
}

.customers1 {
	padding: 20px;
}

#fotter {
	background: #1a2a38;
	text-align: center;
}

#fotter p {
	color: #687179;
	line-height: 40px;
	margin: 0;

}

#fotter a {
	color: #c8dae6;
}

::-webkit-scrollbar-track
{
	background-color: #F5F5F5;
}

::-webkit-scrollbar
{
	width: 5px;
	background-color: #F5F5F5;
}

::-webkit-scrollbar-thumb
{
	background-color: #888;
}

.bg-white-hover:hover {
	transition: all .5s ease;
	background: #057ad7;
	border-color: #057ad7;
	color: #fff;
}

.bg-blue-hover:hover {
	transition: all .5s ease;
	box-shadow: 0 0 10px 2px rgba(19,18,18,.5);
}

.tool:hover .bg-white {
	transition: all .5s ease;
	background: #057ad7;
	border-color: #057ad7;
	color: #fff;
}

.customers1:hover {
	transition: all .5s ease;
	background: #f2f4f7;
	box-shadow: 0px 5px 30px -8px rgba(19,18,18,.5);
}

.customers1:hover img {
	transition: all .5s ease;
	background: #e14140;
	border-color: #e14140;
}

@keyframes animatedBackground {
	from {
		background-position: 0 0;
	}
	to {
		background-position: 100% 0;
	}
}

div.img {
    animation-name: animatedBackground;
    animation-duration: 40s;
    animation-timing-function: linear;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-fill-mode: none;
    animation-play-state: running;
}

#menuhw {
	position: fixed;
	top: 30%;
	right: 0;
	width: 5px;
	height: 100px;
	background: #057ad7;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
	text-align: center;
	transition: 0.4s;
}

#menuhw>a {
	text-decoration: none;
	color: #fff;
	font-family: arial;
	display: none;
	float: right;
	clear: both;
	line-height: 25px;
	margin: 0;
	width: 100%;
	text-align: center;
}

#menuhw:hover {
	width: 80px;
}

#menuhw:hover a {
	display: block;
}

#menuhw>a:first-child:hover {
	border-top-left-radius: 10px;
}

#menuhw>a:hover {
	background: #ed8989;
}

#menuhw>a:last-child:hover {
	border-bottom-left-radius: 10px;
}

@media all and (min-width: 480px) and (max-width: 767px) {
	.download , .demo {
		display: none;
	}

	#Bar {
		text-align: center;
	}

	#ebook {
		width: 100%;
		text-align: center;
	}

	.ebook-img {
		width: 60%;
		float: none;
	}

	.ebook-text {
		width: 90%;
		text-align: left;
	}

	.tool {
		width: 47%;
		margin-top: 10px;
	}

	#buy-now {
		text-align: center;
	}

	#buy-text {
		float: none;
		width: 100%;
	}

	#buy-form {
		float: none;
		width: 100%;
	}

	#usd {
		position: relative;
		height: 100px;
	}

	#usd > img {
		position: absolute;
		top: 0;
		left: 120px;
		float: none;
	}

	.buy-text2 {
		position: absolute;
		top: 0;
		left: 210px;
	}

	.buy-text1 {
		position: absolute;
		top: 45px;
		left: 210px;
	}

	#buy-form .buy-form-down, .buy-form-text, input[type="text"] {
		width: 80%;
	}

	#customers {
		width: 100%;
	}

	.customers1 {
		width: 80%;
	}
}

@media all and (max-width: 479px) {
	.download , .demo {
		display: none;
	}

	#Bar {
		text-align: center;
	}

	#ebook {
		width: 100%;
		text-align: center;
	}

	.ebook-img {
		width: 60%;
		float: none;
	}

	.ebook-text {
		width: 90%;
		text-align: left;
	}

	.tool {
		width: 100%;
		margin-top: 10px;
	}

	#buy-now {
		text-align: center;
	}

	#buy-text {
		float: none;
		width: 100%;
	}

	#buy-form {
		float: none;
		width: 100%;
	}

	#usd {
		position: relative;
		height: 100px;
	}

	#usd > img {
		position: absolute;
		top: 0;
		left: 80px;
		float: none;
	}

	.buy-text2 {
		position: absolute;
		top: 0;
		left: 165px;
	}

	.buy-text1 {
		position: absolute;
		top: 45px;
		left: 165px;
	}

	.inputWithIcon i {
		left: 35px;
	}

	#fotter p {
		font-size: 0.8em;
	}

	#buy-form .buy-form-down, .buy-form-text, input[type="text"] {
		width: 80%;
	}

	#customers {
		width: 100%;
	}

	.customers1 {
		width: 80%;
	}

	#bigTitle > h1 {
		font-size: 4em;
	}

	#bigTitle > h3 {
		font-size: 1.3em;
	}

	#buy-now {
		width: 90%;
	}
}