.answer {
	opacity: 1;
	transition: 0.3s;
	margin-top: 20px;
}

.bark {
	width: 60px;
	height: 160px;
	float: left;
	margin-right: 40px;
}

.bark:last-child {
	margin: 0;
}

body>div:first-child {
	width: 27%;
	height: 20px;
	margin: auto;
}

#menu {
	position: fixed;
	bottom: 40px;
	left: 40px;
}

#menu>a {
	padding: 5px;
}

#menu>a>button:hover {
	box-shadow: 0 0 10px black;
}